.twemoji {
	height: 1.5rem;
	vertical-align: top;
}

.first-place {
	background-color: #ffd700 !important;
}

.second-place {
	background: #c0c0c0 !important;
}

.third-place {
	background: #cd7f32 !important;
}

.qualified {
	background-color: #ffdead !important;
}

.automatically-qualified {
	background-color: rgb(0, 194, 0) !important;
}

.didnt-qualify {
	background-color: #ffa290 !important;
}

.selected {
	background-color: #ffa290 !important;
}

.last-place {
	background-color: rgb(252, 80, 80);
}

.disqualified {
	background-color: #84ad62 !important;
}

@media (prefers-color-scheme: dark) {
	.first-place {
		background-color: #8b6900 !important;
	}

	.second-place {
		background: #5d5d5d !important;
	}

	.third-place {
		background: #793f00 !important;
	}

	.qualified {
		background-color: #57452b !important;
	}

	.automatically-qualified {
		background-color: green !important;
	}

	.didnt-qualify {
		background-color: #7b4a4a !important;
	}

	.selected {
		background-color: #7b4a4a !important;
	}

	.last-place {
		background-color: rgb(121 3 3);
	}

	.disqualified {
		background-color: #51693d !important;
	}
}
