@import "../node_modules/bulma-checkbox/bulma-checkbox.scss"
@import "../node_modules/bulma/bulma.sass"
// @import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass"

.emoji 
    height: 1.5rem
    vertical-align: top

.sideTable
    width: 25rem
    margin-left: 1rem

@media (max-width: 700px)
    .sideTable
        width: 100%
        margin-left: 0

html
    --background-color: hsl(0, 0%, 100%)
    --navbar-text-color: hsl(0, 0%, 29%)
    --navbar-hover-background: hsl(0, 0%, 98%)
    --text-color: hsl(0, 0%, 21%)
    --line-background: hsl(0, 0%, 96%)
    --primary-button-background: hsl(171, 100%, 41%)
    --primary-button-background-hover: #00c4a7
    --danger-button-background: hsl(348, 86%, 61%)
    --danger-button-background-hover: #f03a5f
    --table-background: hsl(0, 0%, 100%)
    --border-color: hsl(0, 0%, 86%)
    --input-border-color: hsl(0, 0%, 71%)
    --link-color: hsl(229, 53%, 53%)
    --pastel-red: #ffa4b0
    --file-hover: #eeeeee
    --file-name-hover-border: #d5d5d5
    --navbar-mobile-color: var(--background-color)

    --selected-color: rgb(206, 223, 242)
    --first-place: #ffd700
    --second-place: #c0c0c0
    --third-place: #cd7f32

html.is-dark
    --background-color: hsl(228, 10%, 10%)
    --navbar-text-color: #b5b5b5
    --navbar-hover-background: #121212
    --navbar-mobile-color: #17181c
    --text-color: #dbdbdb
    --line-background: #242424
    --primary-button-background: #009e86
    --primary-button-background-hover: #00917c
    --danger-button-background: #ee1742
    --danger-button-background-hover: #e6113c
    --table-background: #0a0a0a
    --border-color: #363636
    --input-border-color: #4a4a4a
    --link-color: #5ea3e4
    --pastel-red: #691c26
    --file-hover: #1d1d1d
    --file-name-hover-border: #2f2f2f
    color-scheme: dark

    --selected-color: #57452b
    --first-place: #8b6900
    --second-place: #5d5d5d
    --third-place: #793f00


html
    background-color: var(--background-color) !important

.navbar
    background-color: var(--background-color)

.navbar-item, .navbar-link
    color: var(--navbar-text-color)

.navbar-link
    background-color: var(--background-color) !important

.navbar-item:hover, .navbar-item:focus, .navbar-link:hover, .navbar-link:focus, .navbar-link:focus-within
    color: var(--text-color) !important
    background-color: var(--navbar-hover-background) !important
    
.navbar-dropdown
    background-color: var(--table-background)

.content
    h1, h2, h3, h4, h5, h6, strong
        color: var(--text-color)

body
    color: var(--navbar-text-color)

.button.is-primary
    background-color: var(--primary-button-background)

.button.is-primary:hover
    background-color: var(--primary-button-background-hover)

.button.is-primary.is-outlined
    color: var(--primary-button-background)
    border-color: var(--primary-button-background)

.button.is-primary.is-outlined:hover
    background-color: var(--primary-button-background-hover)
    border-color: var(--primary-button-background-hover)

hr
    background-color: var(--line-background)

a:hover
    color: var(--text-color)

table
    background-color: var(--table-background) !important

table, th
    color: var(--text-color) !important

td, th
    border-color: var(--border-color) !important

.table.is-striped tbody tr:not(.is-selected):nth-child(even)
    background-color: var(--navbar-hover-background)

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover
    background-color: var(--navbar-hover-background)

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even)
    background-color: var(--line-background)

.box
    background-color: var(--table-background)
    color: var(--navbar-text-color)

.select select
    background-color: var(--table-background)
    border-color: var(--border-color)
    color: var(--text-color)

a
    color: var(--link-color)

.tabs a
    color: var(--navbar-text-color)

.tabs.is-boxed li.is-active a
    background-color: var(--table-background)
    border-color: var(--border-color)

.tabs ul
    border-bottom-color: var(--border-color)

.label
    color: var(--text-color)

.input, .textarea
    background-color: var(--table-background)
    border-color: var(--border-color)
    color: var(--text-color)

.input::placeholder
    color: var(--input-border-color)

.button.is-static
    background-color: var(--line-background)
    border-color: var(--border-color)

.tabs.is-boxed a:hover
    background-color: var(--line-background)
    border-bottom-color: var(--border-color)

.tabs a:hover
    color: var(--text-color)

.button.is-danger
    background-color: var(--danger-button-background)

.button.is-danger:hover
    background-color: var(--danger-button-background-hover)

.input:hover, .textarea:hover
    border-color: var(--input-border-color)

.input[disabled], .textarea[disabled]
    background-color: var(--line-background)
    border-color: var(--line-background)
    color: var(--navbar-text-color)

.tabs a
    border-bottom-color: var(--border-color)

.select:not(.is-multiple):not(.is-loading):hover::after
    border-color: var(--text-color)

.select select:hover, .select select.is-hovered
    border-color: var(--input-border-color)

tr.selected, td.selected
    background-color: var(--selected-color) !important

.tabs li.is-active a
    color: var(--link-color)

@media screen and (max-width: 1023px)
    .navbar-menu
        background-color: var(--navbar-mobile-color)

.tag
    background-color: var(--line-background) !important
    color: var(--navbar-text-color) !important

.file-cta
    background-color: var(--line-background)
    color: var(--navbar-text-color)

.file-cta, .file-name
    border-color: var(--border-color)

.file-label:hover .file-cta
    background-color: var(--file-hover)
    color: var(--text-color)

.file-label:hover .file-name
    border-color: var(--file-name-hover-border)

pre
    background-color: var(--line-background)
    color: var(--navbar-text-color)

.checkbox:hover
    color: var(--text-color)

tr.firstplace
    background-color: var(--first-place)
    
tr.secondplace
    background-color: var(--second-place)

tr.thirdplace
    background-color: var(--third-place)